* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* color: #433d66;; */
}

button {
  cursor: pointer;
}

.navbar {
  background: linear-gradient(-90deg, #e5e1ff, #d0c8ff);
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  background: linear-gradient(-90deg, #67628d, #4f467d);
  display: flex;
  gap: 20px;
  background: #183282;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    #2a0845 0%,
    #2a0845 51%,
    #2a0845 100%
  );
}
.navbar a {
  text-decoration: none;
  color: white;
}
.nav-menu {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}
.logo {
  font-size: 25px;
  font-family: cursive;
  color: #ff9c5a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav-menu a {
  padding: 10px 20px;
  border-radius: 4px;

  transition: 0.5s;
  background-size: 200% auto;
}
.nav-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-position: right center;
  background-image: linear-gradient(
    to right,
    #6441a5 0%,
    #2a0845 51%,
    #6441a5 100%
  );
}

#logout,
#login {
  padding: 10px 20px;
  border-radius: 4px;
  /* background-color: red; */

  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: 0.5s;
}

#logout:hover,
#login:hover {
  transition: 0.5s;
  /* color: #fff; */
  text-decoration: none;
  background-size: 200% auto;
  background-position: right center;
  background-image: linear-gradient(
    to right,
    #6441a5 0%,
    #2a0845 51%,
    #6441a5 100%
  );
}

/* research */
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.navbar2 {
  background: #183282;
  width: 70px;
  position: fixed;
  top: 66px;
  left: 0;
  height: calc(100vh - 66px);
  z-index: 900;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  padding: 8px;
  color: white;
  align-items: center;
  border-radius: 4px;
}

.navbar2 i {
  font-size: 40px;
  cursor: pointer;
  background: radial-gradient(
    circle at 33% 100%,
    #ffffff 4%,
    #ffffff 30%,
    #fff9fc 62%,
    #f3f2f3 85%,
    #ffffff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar2 img {
  width: 100%;
  cursor: pointer;
}
.navbar2 img:hover {
  background-color: #2d50b8;
}
.navbar2 > div {
  padding: 10px;
  background-color: #0e1c48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  gap: 10px;
  margin: 10px 0 30px;
}
/* research */

.foot-correct {
  width: calc(100% - 70px);
  margin-left: 70px;
  padding: 30px;
}
.login-nav-cont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.flex-div img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.nav-menu i {
  margin-right: 5px;
}
#nav-toggle {
  display: none;
}

@media only screen and (max-width: 930px) {
  .nav-menu {
    position: fixed;
    background: #142347;
    right: 100%;
    top: 64px;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.5s ease-in-out;
    padding: 0;
  }
  #nav-toggle {
    display: block;
  }
}
@media only screen and (max-width: 690px) {
  .nav-menu {
    gap: 0;
  }

  .navbar2 {
    left: 100%;
    z-index: 1000;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    top: 300px;
    justify-content: flex-start;
    width: 100%;
    transition: left 0.5s ease-in-out;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
  }
  .navbar2 img {
    width: 18px;
  }
  .navbar2 .tooltip .tooltiptext {
    margin-left: 5px;
    visibility: visible;
    position: static;
    background: none;
  }
  .navbar2 > div {
    align-items: flex-start;
  }
}
